.navbar {
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 50px;;
    display: flex;
    justify-content: flex-start; 
}

.navbar h1 {
    color: white;
    font-size: x-large;
    align-self: center;
}

.welcomeuser, .welcomeuser:visited {
    color: white;
}

/* Links inside the navbar */
.navbar button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown .dropbtn::before {
    content: " \2630";
}

/* Add a red background color to navbar links on hover */
.navbar button:hover {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin: 0;
    list-style-type: none;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar ul{
    margin: 0;
    padding: 0;
}

.dropdown-content li {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content li:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.navbarRight {
    margin-left: auto;
}

.navbarRight p {
    color: white;
    display: inline;
}

.navbarRight .cartbtn::before {
    color: white;
    content: " \1F6D2\fe0e";
}

.navbarRight .logoutbtn::before {
    color: white;
    content: " \1F464\fe0e";
}